{% include 'inc/header.html' %}

{% if session.username %}

<body>
    <h1>Lisää merkki</h1>
    <form method="post">
        <label for="student_organization">Ainejärjestö:</label>
        <select name="student_organization">
            {% for entry in student_organizations %}
                <option value="{{ entry.id }}">{{ entry.name }}</option>
            {% endfor %}
        </select>       
        <br>
        <label for="amount">Määrä:</label>
        <input type="number" name="amount" required>
        <br>
        <label for="price">Hinta:</label>
        <input type="number" step=".01" name="price" required>
        <br>
        <label for="name">Nimi:</label>
        <input type="text" name="name" required>
        <br>
        <label for="designer">Suunnittelija:</label>
        <select name="designer">
            {% for entry in designers %}
                <option value="{{ entry.id }}">{{ entry.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="supplier">Toimittaja:</label>
        <select name="supplier">
            {% for entry in suppliers %}
                <option value="{{ entry.id }}">{{ entry.name }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Add Badge">
    </form>


{% else %}
<h1>ET OLE KIRJAUTUNUT SISÄÄN</h1>
{% endif %}
{% include 'inc/footer.html' %}