{% include 'inc/header.html' %}

{% if session.username %}

<body>
    <h1>Lisää merkki</h1>
    <form method="post">
        <label for="collection_id">Ainejärjestö:</label>
        <input type="text" name="student_organization" required>
        <br>
        <label for="amount">Määrä:</label>
        <input type="number" name="amount" required>
        <br>
        <label for="price">Hinta:</label>
        <input type="number" step=".01" name="price" required>
        <br>
        <label for="name">Nimi:</label>
        <input type="text" name="name" required>
        <br>
        <label for="designer">Suunnittelija:</label>
        <input type="text" name="designer">
        <br>
        <label for="supplier">Toimittaja:</label>
        <input type="text" name="supplier">
        <br>
        <input type="submit" value="Add Badge">
    </form>


{% else %}
<h1>ET OLE KIRJAUTUNUT SISÄÄN</h1>
{% endif %}
{% include 'inc/footer.html' %}