{% include 'inc/header.html' %}

<h2>Rekisteröinti</h2>

<form action="/register" method="post">
Tunnus: <br><input type="text" name="username" minlength="3" maxlength="32">
<p>
Salasana: <br><input type="password" name="password1">
<p>
Salasana uudestaan: <br><input type="password" name="password2">
<p>
Käyttäjärooli:
<select name="role">
<option value=1> Myyjä
<option value=2> Asiakas
</select>
<p>
<input type="submit" value="Luo tunnus">
</form>

<p>
<a href="/login">Palaa takaisin</a>
<a href="/add_student_org">Luo ainejärjestö</a>


{% include 'inc/footer.html' %}