{% include 'inc/header.html' %}

<body>
    <h1>Lisää ainejärjestö</h1>
    <form method="post">
        <label>Ainejärjestön nimi:</label>
        <input type="text" name="student_organization">
        <input type="submit" value="Lisää ainejärjestö">
        <br>
    <h1>Lisää suunnittelija</h1>
        <label>Suunnittelijan nimi:</label>
        <input type="text" name="designer">
        <input type="submit" value="Lisää suunnittelija">
        <br>
    <h1>Lisää toimittaja</h1>
        <label>Toimittajan nimi:</label>
        <input type="text" name="supplier">
        <input type="submit" value="Lisää toimittaja">
        <br>
    </form>

{% include 'inc/footer.html' %}