{% include 'inc/header.html' %}

<body>
    <h1>Lisää ainejärjestö</h1>
    <form method="post">
        <label>Ainejärjestön nimi:</label>
        <input type="text" name="student_organization" required>
        <input type="submit" value="Lisää ainejärjestö">
        <br>
    </form>
    <h1>Lisää suunniteelija</h1>
    <form method="post">
        <label>Suunnitelijan nimi:</label>
        <input type="text" name="designer" required>
        <input type="submit" value="Lisää suunniteelija">
        <br>
    </form>
    <h1>Lisää toimittaja</h1>
    <form method="post">
        <label>Toimittajan nimi:</label>
        <input type="text" name="supplier" required>
        <input type="submit" value="Lisää toimittaja">
        <br>
    </form>

{% include 'inc/footer.html' %}